[submodule "ClaimAutoRepair"]
	path = ClaimAutoRepair
	url = https://github.com/OCB7D2D/ClaimAutoRepair
[submodule "ElectricityWorkarounds"]
	path = ElectricityWorkarounds
	url = https://github.com/OCB7D2D/ElectricityWorkarounds
[submodule "ElectricitySolarRecipes"]
	path = ElectricitySolarRecipes
	url = https://github.com/OCB7D2D/ElectricitySolarRecipes
[submodule "ElectricityNoWires"]
	path = ElectricityNoWires
	url = https://github.com/OCB7D2D/ElectricityNoWires
[submodule "ElectricityWireColors"]
	path = ElectricityWireColors
	url = https://github.com/OCB7D2D/ElectricityWireColors
[submodule "ElectricityButtonsPush"]
	path = ElectricityButtonsPush
	url = https://github.com/OCB7D2D/ElectricityButtonsPush
[submodule "ElectricityOverhaul"]
	path = ElectricityOverhaul
	url = https://github.com/OCB7D2D/ElectricityOverhaul
[submodule "ElectricityLamps"]
	path = ElectricityLamps
	url = https://github.com/OCB7D2D/ElectricityLamps
[submodule "ElectricityLampsPOI"]
	path = ElectricityLampsPOI
	url = https://github.com/OCB7D2D/ElectricityLampsPOI
[submodule "ElectricityLightShadowSoft"]
	path = ElectricityLightShadowSoft
	url = https://github.com/OCB7D2D/ElectricityLightShadowSoft
[submodule "ElectricityLightFixes"]
	path = ElectricityLightFixes
	url = https://github.com/OCB7D2D/ElectricityLightFixes
[submodule "ElectricityWindPower"]
	path = ElectricityWindPower
	url = https://github.com/OCB7D2D/ElectricityWindPower
[submodule "OcbWayPointIcons"]
	path = OcbWayPointIcons
	url = https://github.com/OCB7D2D/OcbWayPointIcons
[submodule "OcbPinRecipes"]
	path = OcbPinRecipes
	url = https://github.com/OCB7D2D/OcbPinRecipes
[submodule "OcbStopFuelWaste"]
	path = OcbStopFuelWaste
	url = https://github.com/OCB7D2D/OcbStopFuelWaste
[submodule "OcbPrettyGrass"]
	path = OcbPrettyGrass
	url = https://github.com/OCB7D2D/OcbPrettyGrass
[submodule "OcbCrookedDeco"]
	path = OcbCrookedDeco
	url = https://github.com/OCB7D2D/OcbCrookedDeco
[submodule "OcbPinRecipesUiTdrHart"]
	path = OcbPinRecipesUiTdrHart
	url = https://github.com/OCB7D2D/OcbPinRecipesUiTdrHart
[submodule "OcbNoSuddenExit"]
	path = OcbNoSuddenExit
	url = https://github.com/OCB7D2D/OcbNoSuddenExit
[submodule "OcbBetterFPV"]
	path = OcbBetterFPV
	url = https://github.com/OCB7D2D/OcbBetterFPV
[submodule "OcbRemoteDescription"]
	path = OcbRemoteDescription
	url = https://github.com/OCB7D2D/OcbRemoteDescription
[submodule "OcbRemoteTurretControl"]
	path = OcbRemoteTurretControl
	url = https://github.com/OCB7D2D/OcbRemoteTurretControl
[submodule "OcbPlantGrowInfo"]
	path = OcbPlantGrowInfo
	url = https://github.com/OCB7D2D/OcbPlantGrowInfo
