[submodule "ClaimAutoRepair"]
	path = ClaimAutoRepair
	url = https://github.com/OCB7D2D/ClaimAutoRepair
[submodule "ElectricityWorkarounds"]
	path = ElectricityWorkarounds
	url = https://github.com/OCB7D2D/ElectricityWorkarounds
[submodule "ElectricitySolarRecipes"]
	path = ElectricitySolarRecipes
	url = https://github.com/OCB7D2D/ElectricitySolarRecipes
[submodule "ElectricityNoWires"]
	path = ElectricityNoWires
	url = https://github.com/OCB7D2D/ElectricityNoWires
[submodule "ElectricityWireColors"]
	path = ElectricityWireColors
	url = https://github.com/OCB7D2D/ElectricityWireColors
[submodule "ElectricityButtonsPush"]
	path = ElectricityButtonsPush
	url = https://github.com/OCB7D2D/ElectricityButtonsPush
[submodule "ElectricityOverhaul"]
	path = ElectricityOverhaul
	url = https://github.com/OCB7D2D/ElectricityOverhaul
[submodule "ElectricityLamps"]
	path = ElectricityLamps
	url = https://github.com/OCB7D2D/ElectricityLamps
[submodule "ElectricityLampsPOI"]
	path = ElectricityLampsPOI
	url = https://github.com/OCB7D2D/ElectricityLampsPOI
[submodule "ElectricityLightShadowSoft"]
	path = ElectricityLightShadowSoft
	url = https://github.com/OCB7D2D/ElectricityLightShadowSoft
[submodule "ElectricityLightFixes"]
	path = ElectricityLightFixes
	url = https://github.com/OCB7D2D/ElectricityLightFixes
